@import 'variables';
@import 'Footer.scss';
@import 'RecipeSection';

.App {
  text-align: center;
}

html {
  background-color: $primary-color;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $secondary-color;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navigation {
   padding: 4px;
   margin: 4px;
   align-self: flex-start;
   background-color: $primary-color;
   opacity: 0.5;
  position: fixed;
  z-index: 1;
  font-size: 1em;
 }

#navigationActive {
  padding: 4px;
  margin: 4px;
  align-self: flex-start;
  background-color: $primary-color;
  opacity: 0.8;
  height: 100vh;
  z-index: 1;
  position: fixed;
  margin: 10px;
  padding: 10px;
  font-size: 1em;
}

.navItem {
  margin: 3px;
  padding: 3px;
}

#sayKaren {
  height: 17vh;
}