

#MealTitle {
  text-align: center;
  font-size: 24px;
  padding: 12px 0 0 0;
  margin: 12px 0 0 0; 
}

.MealHeader {
display: flex;
flex-direction: column;
align-self: center;
}

#MealFinder {
  background-color: var(--secondary-color);
  padding: 5px, 10px;
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.button {
  margin: 2px 10px;
  border: 1px solid var(--dark-color);
  width: fit-content;
  padding: 5px;
  border-radius: 7px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.mealFinderContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mealDetails {
  border-radius: 5px;
  padding: 2px 10px;
  margin: 5px;
  background-color: var(--light-color);
  color: var(--primary-color);
  box-shadow: 3px 4px 10px black ;
}

.mealPicture {
  width: 100px;
  border-radius: 10px;
  /* box-shadow: 3px 3px rgba(black, alpha: 0.5); */
  margin: 5px;
}

.mealHeader {
  display: flex;
}

.boldFont {
  font-weight: bold;
}

.buttonSection {
  display: flex;
}