@import './variables.scss';

.RecipeSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipeCard {
  background-color: white;
  width: 334px;
  margin: 10px;
  padding: 4px;
  text-align: center;
  border-radius: 13px;
  height: fit-content;
}

.ingredients, .instructions {
  text-align: left;
  padding: 10px;
}