@import './variables.scss';

.buttonClear{
  height: 31px;
}

.RecipeSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: $font-family;
}

.recipeCard {
  background-color: white;
  width: 334px;
  margin: 10px;
  padding: 4px;
  text-align: center;
  border-radius: 13px;
  height: fit-content;
  min-height: 150px;
  font-family: $font-family;
}


.ingredients, .instructions {
  text-align: left;
  padding: 10px;
}

.LillyRating {
  height: 80px;
  border-radius: 10px;
  box-shadow: 3px 4px 10px black;
  float: right;
}

.FilterBuddy {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
}

.filterBuddydetail {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 4px 10px black ;
}

#FilterBuddySection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $secondary-color;
}

